cache
binary
binary.*
build.log
chroot
chroot.packages.*
.stage
config/bootstrap
config/common
config/source
.lock
sdc-vmtools
config/includes.chroot/lib/
config/includes.chroot/etc/
config/includes.chroot/usr/
