cache
binary
binary.*
build.log
chroot
.stage
config/bootstrap
config/common
config/source
.lock
sdc-vmtools
config/chroot_local-includes/lib/
config/chroot_local-includes/etc/
config/chroot_local-includes/usr/